.arrow {
  --color: #666;
  --border: 2px;
  --width: 1vw;
  --height: 1vw;
  transform: rotate(90deg);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: var(--width);
  height: var(--height);
  border-bottom: var(--border) solid var(--color);
  border-right: var(--border) solid var(--color);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(0px, 0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}
